body {
   font-family: 'Roboto', sans-serif;
   background: url(../img/background/background1.png);
   background-repeat: no-repeat;
   background-size: cover;
   overflow-x: hidden;
   margin: 0 auto;
   width: 100%;
}

.wrapper {
   display: flex;
   justify-content: space-around;
   text-align: center;
   align-items: center;
   background: rgba(23, 44, 39, 0.2);
   height: 100px;
}

.img-hover {
   transition: 0.25s ease-in-out;
   cursor: pointer;
}

.img-hover:hover {
   fill: #3010F1;
}

.btn-primary {
   background: #3e7f81;
   padding: 10px 50px;
   border: none;
   cursor: pointer;
   border-radius: 15px;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   color: white;
   transition: 0.25s ease-in-out;
}

.btn {
   padding: 0;
   height: 38px;
}

.btn-primary:hover {
   background: #3010F1;
}

.section {
   width: 850px;
   height: 350px;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
}

.text {
   font-weight: 700;
   font-size: 54px;
   line-height: 63px;
   color: rgba(0, 0, 0, 0.2);
   text-align: center;
   padding-top: 100px;
}

.input-error {
   border: 2px solid #e52b2b;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   margin-top: 30px;
}

.card {
   width: 300px;
   margin-right: 10px;
   margin-left: 25px;
   margin-top: 30px;
   border-radius: 25px;
   border: 1px solid #3e7f81;
}

.d-inline-flex {
   justify-content: space-around;
}

.d-flex {
   display: flex;
   justify-content: space-between;
}

.card-title {
   font-weight: 700;
}

.icons {
   justify-self: flex-end;
   margin-right: 8px;
   width: 23px;
   height: 23px;
}

.dropdown-item,
.icons {
   cursor: pointer;
}

.log-error {
   background-color: #cc0000;
   color: #fff;
   margin: 0;
   padding: 19px;
   text-align: center;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1000;
}

.modal-create {
   width: 500px;
   top: 200px;
   background: rgba(23, 44, 39, 0.8);
   margin-top: 30px;
   border-radius: 25px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
}

.modal {
   display: block;
   background-color: rgba(0, 0, 0, .3);
}

.modal-title {
   color: #fff;
}

.modal-header .btn-close {
   transform: translateY(1.5px);
}

.modal-body {
   width: 360px;
   margin: 0 auto;
}

.modal-content-wrapper {
   margin-bottom: 5px;
}

.form-input:not(:last-child) {
   margin-bottom: 10px;
}

.modal-item-desc {
   color: white;
   font-weight: 400;
   font-size: 15px;
   margin-left: 10px;
}

.modal-textarea {
   max-height: 200px;
}

.modal-area {
   height: auto;
}

.list-group-item {
   text-align: left;
}

.filter-search {
   background-image: url("../img/icon-search.png");
   background-repeat: no-repeat;
   background-size: auto 70%;
   background-position: left;
   vertical-align: top;
   justify-content: center;
   width: 300px;
   height: 38px;
   border: 1px solid #3e7f81;
   border-radius: 25px;
   text-align: center;
   margin: 24px 20px 0 0;
}

.filter-select {
   height: 38px;
   width: 200px;
   border: 1px solid #3e7f81;
   border: 1px solid chooseStatus;
   border-radius: 25px;
   text-align: center;
   align-items: center;
   vertical-align: top;
   margin-right: 10px;
}

.btn {
   margin-top: 14px;
}

#logIn,
#addCard {
   width: auto;
}

#search {
   width: 160px;
   margin-top: 24px;
}

.container {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 10px;
}

.container,
.container-filter--select-all {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.container img {
   height: 100px;
}

.container-filter,
.container-filter--select-input {
   display: flex;
   flex-direction: row;
}

.container-filter--select {
   display: flex;
   flex-direction: column;
}

.modal-create .btn {
   width: 100%;
}

.dropdown-menu {
   width: 92%;
}

.label {
   font-weight: 700;
   font-size: 16px;
}

.btn-outline-success {
   background-color: #3e7f81;
   border: #3e7f81;
   color: white;
   font-weight: 700;
}

.btn-outline-success:hover {
   background-color: #3010F1;
}